.container {
  text-align: center;
  margin-top: 50px;
  padding: 0 20px;
}

.title {
  font-size: 30px;
  color: var(--primary-color);
  margin-top: 20px;
}

.subtitle {
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 10px;
}

.description {
  font-size: 14px;
  color: var(--dark-text);
  padding: 20px;
  margin-bottom: 10px;
}

.homeButton {
  display: inline-block;
  font-size: 18px;
  color: var(--light-text);
  padding: 12px 24px;
  background-color: var(--primary-color);
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.homeButton:hover {
  background-color: var(--hover-color);
}

.supportText {
  font-size: 14px;
  color: var(--dark-text);
  padding: 20px;
  margin-top: 10px;
}

.supportEmail {
  color: var(--primary-color);
  font-weight: 500;
}

.lottieWrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.lottieWrapper > div {
  width: 100% !important;
  height: auto !important;
}

/* Responsive (for mobile) */
@media (max-width: 768px) {
  .lottieWrapper {
    max-width: 300px;
  }

  .container {
    padding: 30px 20px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 18px;
  }

  .description,
  .supportText {
    font-size: 13px;
    padding: 15px;
  }

  .homeButton {
    font-size: 16px;
    padding: 10px 20px;
  }
}
